.project-container {
    margin-top: 10vh;
    margin-bottom: 50vh;
    margin-inline: auto;
    width: 90vw;
    height: auto;
    padding-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 6%;
}
.projects span{
    color: var(--pcolor);
}
.projects {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    
    font-size: clamp(25px, 1.8vw, 45px);
     
    transition: 0.5s ease-in-out;

    background: rgba(0,0,0,0.5) url(/public/Project/project.jpeg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 13px var(--pcolor);

}

.projects:hover {
    background: rgba(0,0,0,0.7) url(/public/Project/project.jpeg); 
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s ease-in-out;
}

.project-container::before{
    content: "Projects";
    width: 100%;
    text-align: center;
    font-size: clamp(26px, 4vw, 70px);

}

.btn-outline{
    color: var(--pcolor) !important;
    border-color: var(--pcolor);
}
.projects span{
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
}
.projects p{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size:clamp(10px, 1vw, 20px);
}
.projects a{
    position: absolute;
    bottom: 5%;
    left: 30%;
}


@media (min-width:1440px) {
    .projects {
        width: 20vw;
        height: 40vh;
}}